<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="BonosContext" connectionString="Data Source=192.168.0.7;Database=BDBilleteraVirutal;User Id=crios;Password=Cero850911;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="BonosContext" connectionString="data source=.;initial catalog=BDBilleteraVirutal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="BilleteraEntities" connectionString="metadata=res://*/Modelo.BilleteraModel.csdl|res://*/Modelo.BilleteraModel.ssdl|res://*/Modelo.BilleteraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.13\BILLETERAVIRTUAL;initial catalog=BDMonederoPanamaVirtualV2;persist security info=True;user id=billasw;password=Billetera2020*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="BilleteraEntities" connectionString="metadata=res://*/Modelo.BilleteraModel.csdl|res://*/Modelo.BilleteraModel.ssdl|res://*/Modelo.BilleteraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.7;initial catalog=BDBilleteraVirtualV2;persist security info=True;user id=crios;password=Cero850911;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BilleteraEntities" connectionString="Data Source=192.168.0.7;Database=BDBilleteraVirtualV2;User Id=crios;Password=Cero850911;" providerName="System.Data.SqlClien" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GOOGLE_APPLICATION_CREDENTIALS" value="C:\Keys\sencillojustoybueno-firebase-adminsdk-bifli-f9969e51d9.json" />
    <!--<add key="CreateBonusUrl" value="http://192.168.100.80:8098/api/Bonus/CreateBonus" />-->
    <add key="CreateBonusUrl" value="http://190.131.205.159:7098/api/Bonus/CreateBonus" />
    <add key="CheckBonusUrl" value="http://190.131.205.159:7098/api/Bonus/CheckBonusAvailable" />
    <add key="UserBonusService" value="administrador" />
    <add key="PasswordBonusService" value="72202353" />
    <add key="CheckBonusCode_store" value="999" />
    <!--Ambiente de purebas "999" - Produccion "A75"-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>